name: Action test on Ubuntu

on:
  push:
  workflow_dispatch:

jobs:
  test-without-credential:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          persist-credentials: false
      - run: git config --list
      - name: Reconfigure git to use HTTP authentication
        uses: GuillaumeFalourd/SSH-to-HTTP@main
      - uses: GuillaumeFalourd/test-cli-commands-action@v1
        with:
          command_line: git config --list
          contains: url.https://github.com/.insteadof=ssh://git@github.com/
          expected_result: PASSED

  test-with-credential:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          persist-credentials: false
      - run: git config --list
      - name: Reconfigure git to use HTTP authentication
        uses: GuillaumeFalourd/SSH-to-HTTP@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: GuillaumeFalourd/test-cli-commands-action@v1
        with:
          command_line: git config --list
          contains: url.https://***@github.com/.insteadof=ssh://git@github.com/
          expected_result: PASSED